nav {
  background-color: #57886C;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
  background-color: #81A684;
  padding: 15px;
  border-radius: 15%;
}
li:hover{
  background-color: #575757;
}

a {
  color: #fff;
  text-decoration: none;
}

th {
  width: 50px;
}

main {
  margin-top: 10px;
  text-align: center;
}

.info {
  width: 93%;
  background-color: #4C8577 ;
  color: white;
  height: 200px;
}

.container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  width: 25%;
  background: #57886C;
  color: white;
  text-align: center;
}